* {
  font-family: Nunito, serif;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--gray-highlight);
}

html {
  font-weight: 600;
  color: #4c4c4c;
  scroll-behavior: smooth;
}

:root {
  --header-height: 100px;
  --header-font-weight: 800;
  --section-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  --black-highlight: #000000;
  --gray-highlight: #4c4c4c;
  --blue-highlight: #1f6feb;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: var(--section-box-shadow);
  font-weight: var(--header-font-weight);
  padding: 25px 40px;
  z-index: 999;
}

.header-title {
  font-weight: var(--header-font-weight);
}

.nav-container {
  display: flex;
  gap: 1rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--section-box-shadow);
  min-height: 100dvh;
  width: 100%;
  padding: calc(100px + 2rem) 0 2rem 0;
}

.btn {
  transition: all 0.5s;
}

.black-icon {
  color: var(--black-highlight);
}

.btn:hover {
  color: var(--blue-highlight);
}

#home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
}

.home-title {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 1rem;
}

.home-main-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.home-main-title h1 {
  font-size: 36px;
}

.home-title p,
.home-stack-container p {
  font-size: 18px;
}

.home-avatar {
  width: 25%;
  border: 3px solid var(--black-highlight);
  border-radius: 3rem;
}

.home-contacts {
  display: flex;
  gap: 0.5rem;
}

.home-stack-container,
.home-stack,
.home-stack-block-icons {
  display: flex;
  align-items: center;
}

.home-stack-container {
  width: calc(30% + 25% + 2rem);
  gap: 2rem;
}

.home-stack-block-icons {
  transition: all 0.5s;
}

.home-stack-block-icons:hover {
  transform: translateY(-10px);
}

.home-stack {
  gap: 0.5rem;
}

.lg-icon {
  width: 40px;
  height: 40px;
}

.highlight-text {
  color: var(--black-highlight);
}

.pretty-link:hover {
  text-decoration: underline 1px var(--gray-highlight);
}

.experience-container,
.education-container {
  width: 60%;
}

.experience-container h3,
.education-container h3 {
  font-size: 28px;
  text-transform: uppercase;
  color: var(--black-highlight);
  margin-bottom: 2rem;
}

section .reversed {
  flex-direction: row-reverse;
}

.job-unit,
.education-unit {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.job-logo {
  width: 250px;
  height: 250px;
  border-radius: 1rem;
}

.job-info,
.education-info {
  display: flex;
  flex-direction: column;
  height: 250px;
}

.job-info {
  justify-content: space-between;
}

.education-info {
  gap: 1rem;
}

.job-info h4 {
  font-size: 20px;
}

.job-info h5 {
  line-height: 1rem;
}

.job-unit-desription,
.education-unit-desription {
  line-height: normal;
}

.job-stack-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.job-stack-logo {
  background: #ffffff;
  width: 35px;
  height: 35px;
}

.none-selectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}